<HTML>
    <HEAD>
        <TITLE> ～來做網頁吧～ </TITLE>
        <meta http-equiv="Content-Security-Policy" content="default-src gap://ready file://* *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src 'self' 'unsafe-inline' *">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script language="JavaScript" src="javascript/submitCheck.js"></script>
    </HEAD>
    <BODY>
        <form name="reg" action="upload" method="POST" enctype="multipart/form-data">
            @股票代碼@: <input type="text" name="key" required="required" />
            <input type="button" value="現在股價" onClick="check()" />
        </form>
        <form name="reg2" action="hisPrice" method="POST" enctype="multipart/form-data">
            @股票代碼@: <input type="text" name="key" required="required" />
            開始日期: <input type="date" name="startDate" placeholder="2016/09/18">
            結束日期: <input type="date" name="endDate" placeholder="2016/11/22">
            <input type="button" value="歷史股價" onClick="check2()" />
        </form>
        <button onclick="self.location.href='imageIndex'"><img src= "images/kentai.gif"></button>
        
    </BODY>
</HTML>
