<HTML>
    <HEAD>
        <TITLE> ～來做網頁吧～ </TITLE>
        <script language="JavaScript" src="javascript/submitCheck.js"></script>
    </HEAD>
    <BODY>
        <form name="reg" action="upload" method="POST" enctype="multipart/form-data">
            股票代碼: <input type="text" name="key" required="required" />
            <input type="button" value="Submit" onClick="check()" />
        </form>
        <button onclick="self.location.href='imageIndex'"><img src= "images/kentai.gif"></button>
        
    </BODY>
</HTML>
